name: Car Controls

on:
  push:
    branches:
      - main
    paths:
      - 'apps/car_controls/**'
      - 'ZeroMQ/**'

env:
  DIR: apps/car_controls

jobs:
  compile-test-and-coverage:
    runs-on: [self-hosted, seame-computer-1]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build executable
        run: |
          cd $DIR
          mkdir build
          cd build
          ~/new_qtjetson/qt5.15/bin/qmake ../car-controls-qt.pro
          make -j$(nproc)
          rm -rf *.o

      - name: Build tests
        run: |
          cd $DIR/build
          qmake ../car-controls-tests.pro
          make -j$(nproc)

      - name: Run tests
        run: |
          cd $DIR/build
          ./car-controls-tests

      - name: Deploy executable to target
        env:
          SSHPASS: ${{ secrets.JETSON_PASSWORD }}
        run: |
          sshpass -e rsync -avz --rsync-path="sudo rsync" --delete $DIR/build/car-controls-qt jetson@100.108.203.64:/home/jetson/apps
        continue-on-error: true

      - name: Generate coverage report
        run: |
          cd $DIR/build
          lcov --capture --directory . --output-file full.info
          lcov --remove full.info '*/moc_*.cpp' '*/moc_*.gcda' '*/moc_*.gcno' '*/tests*' '*/tensorrt-8.6.1.6*' '*/Mock*' '*/usr/*' '*/Qt*' '*/includes/*' --output-file filtered.info
          genhtml filtered.info --output-directory coverage-car-controls

      - name: Copy report to documentation branch
        run: |
          cd $DIR/build
          cp -r coverage-car-controls ~/Documents/documentation-branch

      - name: Execute script to update documentation and coverage reports
        run: |
          /bin/bash -c "~/Documents/documentation-branch/update.sh"

